body{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: url('dinofondo.jpg');
}

.gen-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(255, 255, 255, 0.9);
    border-style: dashed;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

#input{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

#ver{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    transition: all 0.2s;
}

#ver:hover{
    background-color: rgba(200, 200, 200, 0.8);
}

#alert{
    color: rgb(120, 255, 120);
    margin: 0;
    padding: 5px;
    width: 90%;
    height: 15px;
    text-align: left;
    align-items: start;
    font-size: 12px;
}

#submit{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    transition: all 0.2s;
}

#submit:hover{
    background-color: rgba(200, 200, 200, 0.8);
}